@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background: #000000f6;
  color: #fff;
}
.h-1,
.h-2,
.h-3 {
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}
.h-4 {
  font-family: "Poppins", sans-serif;
}
.p {
  font-family: "Poppins", sans-serif;
  font-size: 1.05rem;
}
/* Navbar Styling */
.navbar-bg {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
}
.toggleIcon {
  color: #fff;
  width: 30px;
  height: 30px;
}
.navlink:hover {
  cursor: pointer;
}
/* About Me Styling */
.mypic {
  border-radius: 10% 0% 10% 0%/10% 0% 10% 0%;
  animation: fadeIn 2s infinite linear;
  transition: 0.5s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 1;
    filter: sepia(20px);
  }
  50% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
/* Skills Styling */
.skill-card {
  background: rgba(255, 255, 255, 0.08) !important;
}
.skill-card:hover {
  cursor: pointer;
  opacity: 0.7;
}
.skill-card::after {
  content: "";
  border: 1px solid #fff;
}
.react {
  animation: rotate 2s infinite linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Responsive Design */
@media screen and (max-width: 768px) {
  .h-1,
  .h-2,
  .h-3 {
    font-size: 2rem;
  }
}
