@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Rowdies:wght@300;400;700&display=swap");
:root {
  --animate-duration: 1000ms;
  --animate-delay: 1.3s;
}
.body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}
.h-1,
.h-2,
.h-3 {
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}
.h-4 {
  font-family: "Poppins", sans-serif;
}
.p {
  font-family: "Poppins", sans-serif;
  font-size: 1.05rem;
}
/* Navbar Styling */
.navbar-bg {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
}
.logo {
  font-size: 18px;
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
.toggleIcon {
  color: #fff;
  width: 30px;
  height: 30px;
}
.navlink:hover {
  cursor: pointer;
}
.space-out {
  margin-top: 130px;
}
/* Hero Styling */
.hero-section {
  background: #331c52;
}
/* Experience Styling */
.experience {
  background: #291c3a;
}
/* About Me Styling */
#about-me {
  background: #eaf1f1;
}
.mypic {
  border-radius: 10% 0% 10% 0%/10% 0% 10% 0%;
  animation: fadeIn 2s infinite linear;
  transition: 0.5s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 1;
    filter: sepia(20px);
  }
  50% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
/* Skills Styling */
#skills {
  background: #fff;
}
.skill-card {
  background-color: #eaf1f1 !important;
}
.skill-card:hover {
  cursor: pointer;
  opacity: 0.7;
}
.skill-card::after {
  content: "";
  border: 1px solid #fff;
}
.react {
  animation: rotate 2s infinite linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Projects Stlying */
#projects {
  background: #eaf1f1;
}
.project-title {
  border-left: 5px solid #291c3a;
  border-left-style: double;
}
.bootstrap-svg {
  width: 50px;
  height: 50px;
}
.tech-used {
  width: 40px;
  height: 35px;
}
ul.slick-dots li button {
  background: #fff;
  border-radius: 50px;
}
.project-card {
  background: rgba(255, 255, 255, 0.4) !important;
  margin-right: 20px;
  color: #fff !important;
  margin-bottom: 10px;
  cursor: move;
}
.card-img-top {
  content: "";
  border-bottom: 3px solid lavender;
}
#faqs {
  background: #eaf1f1;
}
/* Testimonial */
.awssld__content {
  background: #eaf1f1 !important;
  border-radius: 10px;
}
.testimonial-img {
  border-radius: 100px;
  width: 100px !important;
  height: 100px !important;
  border: 5px solid lavender;
}
.my-slider {
  height: 400px; /* Default height for small screens */

  @media screen and (min-width: 768px) {
    height: 600px; /* Adjust height for medium screens */
  }

  @media screen and (min-width: 992px) {
    height: 500px; /* Adjust height for large screens */
  }

  @media screen and (min-width: 1200px) {
    height: 400px; /* Adjust height for extra-large screens */
  }
}
/* Contact Styling */
#contact {
  background: #331c52;
}
.hand-shake {
  animation: handShake 1s infinite alternate;
}
@keyframes handShake {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(9deg);
  }
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .h-1,
  .h-2,
  .h-3 {
    font-size: 1.8rem;
  }
  .p {
    font-size: 1rem;
  }
  .project-card {
    width: 100%;
  }
}
